@charset "utf-8";

body{
	font-family: 'Tac One', sans-serif;
}

.mybox {
    width: 305px;
    height: 100px;
    border-width: thick;
	border-style: solid;
    background-color: #EB33B0;
}

.btn-danger {
	
	background-color: #EB33B0;
}